* {
  box-sizing: border-box;
}

html {
    background-image: url("http://4.bp.blogspot.com/-zIrb2woDGJk/Tsv61grAvRI/AAAAAAAAI8g/Dm6vYaUi-kg/s1600/DSCF1921.JPG");
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #000 0px 0px 15px;
    -webkit-font-smoothing: antialiased;
}

.pattern{
	background: rgba(200, 200, 200, .5);
	border-radius: 25px;
	background-size: 50%;
}
